<% include partials/header.ejs%> <% include partials/main_nav.ejs%>
<main class="container projects">
  <h1><%= title %></h1>
  <div class="row">
    <!--For each project we use a col size md-4-->
    <div class="col-md-4">
      <div class="col-md-12">
        <img
          src="/assets/images/sayHealthy.png"
          alt=""
          class="img-fluid"
          style="width: 500px; height: 250px"
        />
        <h4>Say Healthy</h4>
        <h5>
          Cheap Deal is an ecommerce website. You can use it to buy goods and
          products. The application was built with Reactjs, Nodejs, TS, and
          MongoDB.
        </h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <img
          src="/assets/images/cheapDeal.png"
          alt=""
          class="img-fluid"
          style="width: 500px; height: 250px"
        />
        <h4>Cheap Deal</h4>
        <h5>
          Cheap Deal is an ecommerce website. You can use it to buy goods and
          products. The application was built with Reactjs, Nodejs, TS, and
          MongoDB.
        </h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <img
          src="/assets/images/khojam.png"
          alt=""
          class="img-fluid"
          style="width: 500px; height: 250px"
        />
        <h4>Khojam</h4>
        <h5>
          Khojam is dictionary application. It helps users to find definition,
          synonyms and antonyms of words.
        </h5>
      </div>
    </div>
  </div>
</main>
<% include partials/footer.ejs%>
