<% include partials/header.ejs%> <% include partials/main_nav.ejs%>

<!-- <main class="container service">
    <h1><%= title %></h1>
    <br><br>
    <div class="row">
        <div class="col-md-4">
          <div class="col-md-12">
            <i class="fas fa-server"></i>
            <p>Software design</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12">
            <i class="fab fa-node-js"></i>
            <p>Web development</p>
          </div>
        </div>
    </div>
</main>   -->
<section id="services" class="current">
  <div class="services-top">
    <div class="container bootstrap snippets bootdey">
      <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-md-12">
          <h1><%= title %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
          <div class="services-list">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-md-4">
                <div class="service-block" style="visibility: visible">
                  <div class="ico fa fa-magic highlight"></div>
                  <div class="text-block">
                    <div class="name">Web Design</div>
                    <div class="info">Beauty and function</div>
                    <div class="text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-md-4">
                <div class="service-block" style="visibility: visible">
                  <div class="ico fa fa-code highlight"></div>
                  <div class="text-block">
                    <div class="name">Development/Coding</div>
                    <div class="info">Quality code that lasts</div>
                    <div class="text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-md-4">
                <div class="service-block" style="visibility: visible">
                  <div class="ico fa fa-list-alt highlight"></div>
                  <div class="text-block">
                    <div class="name">Copy Writing</div>
                    <div class="info">Words that tell your story</div>
                    <div class="text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% include partials/footer.ejs%>
