<% include partials/header.ejs%> <% include partials/main_nav.ejs%>
<section id="services" class="current">
  <div class="services-top">
    <div class="container bootstrap snippets bootdey">
      <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-md-12">
          <h1><%= title %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
          <div class="services-list">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-md-4">
                <div class="service-block" style="visibility: visible">
                  <div class="ico fa fa-magic highlight"></div>
                  <div class="text-block">
                    <div class="name">Web Design</div>
                    <div class="text">
                      Collaborating with developers and other stakeholders to
                      ensure design implementation aligns with project
                      requirements and meets high-quality standards.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-md-4">
                <div class="service-block" style="visibility: visible">
                  <div class="ico fa fa-code highlight"></div>
                  <div class="text-block">
                    <div class="name">Web Development</div>
                    <div class="text">
                      Designing and developing responsive and user-friendly
                      websites using HTML, CSS, and JavaScript.Developing
                      back-end solutions using server-side programming languages
                      such as Node.js and Python and frameworks such as Express
                      and Django.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-md-4">
                <div class="service-block" style="visibility: visible">
                  <div class="ico fa fa-list-alt highlight"></div>
                  <div class="text-block">
                    <div class="name">Photoshop Editing</div>
                    <div class="text">
                      Designing high-quality graphics and visual elements using
                      Photoshop for digital and print media
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% include partials/footer.ejs%>
